.tarefas-body {
  margin: 100px auto !important;
}

.title {
  font-family: "Dancing Script", cursive;
  color: #fff;
  font-size: 3em;
  text-shadow: 3px 1px rgba(0, 0, 0, 0.3);
  margin: 40px 0;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {

}

ul > li {
  display: flex;
  padding: 10px 0;
  border-bottom: solid 1px #ddd;
}
ul > li > div.tarefas {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
ul > li > div.tarefas > p.tarefa {
line-height: 24px;
font-weight: bold;
text-transform: uppercase;
}

ul > li > div.btns-actios {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}
p.no-tarefa {
  font-size: 20px;
  /* background: #FFC107; */
  padding: 20px;
  border-radius: 5px;
  color: #FF5722;
  font-weight: 600;
}

p > button.add-button {
  margin: 20px 0;
  background-color: transparent;
  border: solid 2px #fff;
  padding: 20px;
  color: #fff;
  border-radius: 30px;
  font-size: 1em;
  font-weight: 100;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  width: 200px;
  transition: all 0.2s;
}
p > button.add-button:hover {
  background: #fff;
  color: #52b975;
}

p.btn-save > button{
  margin: 20px 0;
  background: transparent;
  padding: 20px;
  width: 200px;
  border: solid 2px #52b975;
  border-radius: 100px;
  color: #52b975;
  transition: all 0.2s;
  cursor: pointer;

}
p.btn-save > button:hover {
  background: #52b975;
  color: #fff;
}

.mark {
  color: #9dcbac;
  font-size: 24px;
  position: relative;
  bottom: -3px;
  right: 3px;
  background-color: transparent;
}
